In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
import os
import matplotlib.pyplot as plt

In [4]:
#DATA_URL = os.path.join(os.path.dirname(__file__),'..','data', 'emergencias-2021.csv')
df = pd.read_csv('data/cleaned_data.csv')

In [5]:
df["Fecha"]

0       2022-03-01
1       2022-03-01
2       2022-03-01
3       2022-03-01
4       2022-03-02
           ...
1719    2021-06-29
1720    2021-06-30
1721    2021-06-30
1722    2021-06-30
1723    2021-06-30
Name: Fecha, Length: 1724, dtype: object

In [6]:
df.Hora_del_llamado.fillna(df["Hora_de_primera_respuesta"],inplace=True)

In [7]:
df[df.Hora_del_llamado.isna()]

Empty DataFrame
Columns: [Fecha, Hora_del_llamado, Hora_de_primera_respuesta, Tipo_de_emergencias, Dirección, 1cia, 2cia, 3cia, 4cia, Detalle_unidades, Situación, Hora_de_término_de_la_emergencia, Tiempo_respuesta, Tiempo_en_controlar_emergencia, Periodo, Emergencias_cod_corto]
Index: []

In [8]:
df.groupby('Periodo')

In [9]:
df5 = df.pivot_table(index = ['Periodo'] ,values='Tiempo_en_controlar_emergencia', fill_value = 0, aggfunc = 'median')

In [12]:
df["Fecha"].max()

'2022-07-31'

In [10]:
df5["Tiempo_en_controlar_emergencia"]

Periodo
2001-01     5.0
2002-01    49.5
2002-02    46.0
2002-12    17.5
2020-01    18.0
2020-02    27.0
2020-03    21.5
2020-04    20.0
2020-05    23.5
2020-06    25.0
2020-07    28.0
2020-08    18.0
2020-09    31.0
2020-10    26.0
2020-11    28.0
2020-12    25.0
2021-01    20.0
2021-02    27.0
2021-03    25.0
2021-04    22.0
2021-05    25.0
2021-06    26.0
2021-07    26.0
2021-08    24.5
2021-09    23.0
2021-10    26.0
2021-11    32.0
2021-12    30.5
2022-01    24.0
2022-02    20.5
2022-03    31.0
2022-04    20.5
2022-05    24.0
2022-07    20.0
Name: Tiempo_en_controlar_emergencia, dtype: float64

In [15]:
df["Emergencias_cod_corto"]

0       10.4
1       10.0
2       10.4
3       10.4
4       10.6
        ...
1667    10.0
1668    10.4
1669    10.7
1670    10.1
1671    10.2
Name: Emergencias_cod_corto, Length: 1672, dtype: float64

In [16]:
df[['1cia', '2cia', '3cia', '4cia']].sum()

1cia    755
2cia    752
3cia    732
4cia    213
dtype: int64

In [17]:
df['Fecha']=pd.to_datetime(df['Fecha'])

In [18]:
#df['Emergencias_cod_corto'] = df['Tipo de emergencias']
mapper = {'10.6.1': '10.6',
          '10.2.1': '10.2', 
          '10.5': '10.5',
          '10.0': '10.0',
          '10.4.1': '10.4',
          '10.4.3': '10.4',
          '10.7': '10.7',
          '10.4.2': '10.4',
          '10.1': '10.1',
          '10.6.2': '10.6',
          '10.3.1': '10.3',
          '10.8': '10.8',
          '10.12X10.2.2': '10.2',
          '10.2.2': '10.2',
          '10.12X10.0': '10.0',
          '10.5.1': '10.5',
          '10.12X10.2.1': '10.2',
          '10.9': '10.9',
          '10.10': '10.10'}

#df['Emergencias_cod_corto'] = df['Emergencias_cod_corto'].map(mapper)

In [19]:
df['Periodo'] = df['Fecha'].dt.to_period('M')
df.head()

,Fecha,Hora_del_llamado,Hora_de_primera_respuesta,Tipo_de_emergencias,Dirección,1cia,2cia,3cia,4cia,Detalle_unidades,Situación,Hora_de_término_de_la_emergencia,Tiempo_respuesta,Tiempo_en_controlar_emergencia,Periodo,Emergencias_cod_corto
0,2022-03-01,09:23:00,09:27:00,10.4.3,Gregorio Mira con Blanco Encalada,1,1,1,0,B-1/B-2/B-3,Colision de camion contra poste,09:40:00,4.0,13.0,2022-03,10.4
1,2022-03-01,11:00:00,11:40:00,10.12X10.0,Apoyo a CB de Melipilla,0,0,1,0,BT-3,Apoyo incendio estructural,16:58:00,40.0,318.0,2022-03,10.0
2,2022-03-01,15:15:00,15:22:00,10.4.2,Avenida Chile con Inmaculada Concepcion,1,1,1,0,B-1/B-2/B-3,Colision de vehiculos menores,16:07:00,7.0,45.0,2022-03,10.4
3,2022-03-01,23:06:00,23:11:00,10.4.1,Olegario Henriquez con Ginebra,1,0,1,0,B-1/B-3,"Colision de vehiculos menores, dos lesionados",23:43:00,5.0,32.0,2022-03,10.4
4,2022-03-02,17:10:00,17:17:00,10.6,Litoral N. 415,0,1,0,0,B-2,"Olor a gas, regulador en mal estado",17:26:00,7.0,9.0,2022-03,10.6

In [8]:
dft1=pd.DataFrame(df['Fecha'].dt.to_period('M').value_counts().sort_index())
#dft1.index.name = 'Periodo'
dft1.columns = ['Total']

In [9]:
dft1.index.astype(str, copy = False)

Index(['2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12'],
      dtype='object')

In [10]:
#dft1.columns = ['unique_values', 'counts']

In [11]:
dft1

         Total
2021-01     55
2021-02     26
2021-03     49
2021-04     45
2021-05     54
2021-06     66
2021-07     49
2021-08     41
2021-09     56
2021-10     58
2021-11     79
2021-12     82

In [12]:
df2 = df.pivot_table(index = 'Periodo', columns = 'Emergencias_cod_corto', fill_value = 0, aggfunc = 'count')

In [13]:
df2 = df2['Tipo de emergencias']

In [15]:
indices = df2.index
indices.name = None
columnas = df2.columns
columnas.name = None
valores = df2.values


df3 = pd.DataFrame(index = indices, columns = columnas, data = valores)

In [16]:
df3#.columns.droplevel(0)

         10.0  10.1  10.10  10.2  10.3  10.4  10.5  10.6  10.7  10.8  10.9
2021-01     7     1      0    17     2    11     2     5     2     8     0
2021-02     4     1      0    10     0     9     0     0     2     0     0
2021-03     8     1      0    18     0    13     5     2     0     2     0
2021-04    10     2      0     9     0    15     3     3     3     0     0
2021-05     6     3      0    10     3    24     1     4     2     1     0
2021-06     7     5      0    19     3    21     1     5     3     2     0
2021-07    10     3      0     6     2    20     3     4     1     0     0
2021-08     7     4      0     6     3    13     1     6     0     1     0
2021-09     6     2      4    15     1    18     0     7     0     3     0
2021-10     8     1      0     9     3    21     5     7     0     4     0
2021-11     7     1      0    32     4    23     5     4     1     1     1
2021-12     9     4      0    32     0    18     8     6     1     4     0

In [20]:
round(df3[df3.columns].apply(lambda x: x/x.sum(), axis=1)*100,2)

,10.0,10.1,10.10,10.2,10.3,10.4,10.5,10.6,10.7,10.8,10.9
2021-01,12.73,1.82,0.00,30.91,3.64,20.00,3.64,9.09,3.64,14.55,0.00
2021-02,15.38,3.85,0.00,38.46,0.00,34.62,0.00,0.00,7.69,0.00,0.00
2021-03,16.33,2.04,0.00,36.73,0.00,26.53,10.20,4.08,0.00,4.08,0.00
2021-04,22.22,4.44,0.00,20.00,0.00,33.33,6.67,6.67,6.67,0.00,0.00
2021-05,11.11,5.56,0.00,18.52,5.56,44.44,1.85,7.41,3.70,1.85,0.00
2021-06,10.61,7.58,0.00,28.79,4.55,31.82,1.52,7.58,4.55,3.03,0.00
2021-07,20.41,6.12,0.00,12.24,4.08,40.82,6.12,8.16,2.04,0.00,0.00
2021-08,17.07,9.76,0.00,14.63,7.32,31.71,2.44,14.63,0.00,2.44,0.00
2021-09,10.71,3.57,7.14,26.79,1.79,32.14,0.00,12.50,0.00,5.36,0.00
2021-10,13.79,1.72,0.00,15.52,5.17,36.21,8.62,12.07,0.00,6.90,0.00
2021-11,8.86,1.27,0.00,40.51,5.06,29.11,6.33,5.06,1.27,1.27,1.27
2021-12,10.98,4.88,0.00,39.02,0.00,21.95,9.76,7.32,1.22,4.88,0.00

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Fecha                             660 non-null    datetime64[ns]
 1   Hora del llamado                  660 non-null    object
 2   Hora de primera respuesta         660 non-null    object
 3   Tipo de emergencias               660 non-null    object
 4   Dirección                         660 non-null    object
 5   1cia                              660 non-null    int64
 6   2cia                              660 non-null    int64
 7   3cia                              660 non-null    int64
 8   4cia                              660 non-null    int64
 9   Situación                         660 non-null    object
 10  Hora de término de la emergencia  660 non-null    object
 11  Tiempo respuesta                  660 non-null    int64
 12  Tiempo en controlar emergencia    660 non-null    int64
 13  LATITUDE                          660 non-null    object
 14  LONGITUDE                         660 non-null    object
 15  Detalle unidades                  365 non-null    object
 16  Emergencias_cod_corto             660 non-null    object
 17  Periodo                           660 non-null    period[M]
dtypes: datetime64[ns](1), int64(6), object(10), period[M](1)
memory usage: 92.9+ KB

In [172]:
df['Hora del llamado'].str[:2].astype(int)

0      21
1       2
2       9
3      20
4      20
       ..
655     1
656     9
657    12
658    14
659    14
Name: Hora del llamado, Length: 660, dtype: int64